<h1>New User</h1>


<%= form_for(@user) do |f|%>
<%= f.label :name  %> <br>
<%= f.text_field :name %> <br>
<%= f.label "Password"  %> <br>
<%= f.password_field :password %> <br>
<%= f.submit%> <br>
<% end %>
