<h1><%= "Paintings at #{@gallery.name}" %></h1>

<% @paintings.each do |painting| %>
  <% if painting.gallery_id == @gallery.id %>
    <p><em><%= link_to painting.title, painting_path(painting) %></em>
      by <%= link_to painting.artist.name, artist_path(painting.artist) %> </p>
  <% end %>
<% end %>

<p><%= link_to "Add an Artist to this Gallery", new_artist_path %></p>
<p><%= link_to "Add a Painting to this Gallery", new_painting_path %></p>
